*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    background-color: white;
    margin: 2em auto;
    width: 80%;
    max-width: 650px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    padding: 1em;
}
.form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}








