@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}
* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  color: var(--body);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    color: white;
}
button{
  padding: 1em;
  color: white;
  border: none;
  cursor: pointer;
}
/* styling nav  */
nav {
  background-color: var(--purple300);
  padding: 0.7em 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo {
  font-weight: 500;
}
.nav ul {
  display: flex;
}
.nav ul li {
  margin-left: 1em;
}
/* intro section  */
.intro{
    background-image: url('images/hero_image.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.intro__text{
    text-align: center;

}
.intro__text h1{
    font-size: 6rem;
    margin-bottom: .1em;
}
.intro__text h3{
  font-size: 2rem;
    font-weight: 100;
    margin-bottom: .5em;
}
.intro__text p{
  width: 70%;
  margin: 0 auto;
}

/* music section  */
.music_section{
  background-color: var(--purple500);
  padding: 1.75em 0;
}
.music_text{
  text-align: center;
}
.music_text span{
  margin-right: .5em;
}
.music_text h3{
  font-weight: 400;
  margin: .7em 0;
}
.music_text p{
  width: 75%;
  margin: .7em auto;
  font-weight: 300;
}
.primary_btn{
  margin: .7em 0;
  background-color: var(--red600);
}
.music_text h4{
  margin: 1em 0;
  font-size: .9rem;
  font-weight: 100;
}
.music_img{
  margin-top: -400px;
  position: relative;
  top: 400px;
}
/* styling music intro  */
.about_music{
margin-top: 400px;
color: black;
text-align: center;
}
.secondary_btn{
  background-color: var(--purple500);
  margin-bottom: 2em;
}
.about_music p{
  width: 70%;
  font-size: .85rem;
  margin: 2em auto;
}
/* styling video section  */
.video_section{
  background-image: url('images/video.png');
  background-size: cover;
  margin-top: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 800px;
}
.video_section p{
  width: 80%;
  margin: 2em auto;
}
/* styling sift section  */
.gift_section{
  color: black;
}
.gift_section .container{
  display: flex;
  justify-content: space-between;
  margin: 6em auto;
}
.gift_content{
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}