@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
button {
  border: none;
  padding: 0.7em 0.9em;
}
.row {
  display: flex;
}
aside {
  text-align: center;
}
.bars,
.side-icons,
button {
  cursor: pointer;
}
.bars {
  padding: .9em .7em;
  margin-bottom: .5em;
}
.side-icons {
  padding: 1em .9em;
  font-size: 0.625rem;
}
.side-icons:hover{
  background-color: rgba(240, 233, 233, 0.795);
}
.nav {
  padding: 0.5em 0;
  border-bottom: 0.5px solid #ccc;
}
.logo {
  align-items: center;
}
.logo img {
  width: 100px;
  height: auto;
}
.primary-nav {
  flex-grow: 1;
}
.center-nav {
  margin: 0 auto;
}
.search {
  align-items: center;
}
.search input {
  min-width: 550px;
  padding: 0.7em 0.9em;
  font-size: 1rem;
  border: 0.5px solid #ccc;
}
.search input:focus {
  border: 1px solid blue;
}
.search button {
  border: none;
  padding: 0.7em 0.9em;
}
.search-btn img {
  width: 20px;
}
.mic {
  padding: 0.9em;
  border-radius: 50%;
  background: rgb(240, 239, 239);
  margin-left: 0.5em;
}
.mic img {
  width: 20px;
}
.side_nav {
  align-items: center;
  padding-top: 0.5em;
}
.side_nav img {
  width: 25px;
}
.side_nav--icon + .side_nav--icon {
  margin-left: 1.5em;
}
.side_nav--profile-icon img {
  width: 30px;
}
.side_nav--profile-icon {
  margin: 0 2em;
}
.tags {
  border-bottom: 0.5px solid #ccc;
  padding: 1em;
}
.tags button {
  border-radius: 40%;
  margin-right: 0.5em;
}
.tags .dark {
  background-color: black;
  color: white;
}

/* section  */
.video-section {
  background-color: rgba(243, 236, 236, 0.89);
  padding: 0.5em 0.5em;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  max-width: 255px;
}
.thumbnail_img {
  width: 250px;
}
.info_img {
  margin: 0 0.5em;
}
.info_text h3 {
  font-size: 1rem;
  font-weight: 500;
}
.info_text h4 {
  font-size: 0.8rem;
  margin-top: 0.5em;
  font-weight: 300;
}
.info_text span {
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 1em;
}
