@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
button {
  border: none;
  padding: 0.7em 0.9em;
}
.container {
  display: flex;
}
.main-container {
  width: 90%;
}
aside {
  /* border: 2px solid blue; */
  padding: 1.2em 0.5em;
  text-align: center;
}
.bars{
  margin-bottom: 2.5em;
}
.side-icons {
  margin-top: 1em;
}
.side-icons p {
  font-size: 0.625rem;
}

.nav {
  display: flex;
  padding: .5em 0;
  border-bottom: 0.5px solid #ccc;
  /* border: 2px solid black; */
}
.primary-nav {
  display: flex;
  flex-grow: 1;
}
.center-nav {
  display: flex;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  height: auto;
}
.search{
  display: flex;
  align-items: center;
}
.search input {
  min-width: 550px;
  padding: 0.7em 0.9em;
  font-size: 1rem;
  border: 0.5px solid #ccc;
}
.search input:focus {
  border: 1px solid blue;
}
.search button {
  border: none;
  padding: 0.7em 0.9em;
}
.search-btn img {
  width: 20px;
}
.mic {
  display: flex;
  padding: .9em;
  border-radius: 50%;
  background: rgb(240, 239, 239);
  margin-left: .5em;
}
.mic img {
  width: 20px;
}
.side_nav{
  display: flex;
  align-items: center;
  padding-top: .5em;
}
.side_nav img{
  width: 25px;
}
.side_nav--icon + .side_nav--icon{
  margin-left: 1.5em;
}
.tags {
  border-bottom: 0.5px solid #ccc;
  /* border: 2px solid brown; */
  padding: 1em;
}
.tags button{
  border-radius: 40%;
  margin-right: .5em;
}
.tags .dark{
  background-color: black;
  color: white;
}